chromadb
llama-index-vector-stores-chroma
fitz
llama-index
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-readers-file 
pydantic
pydantic-settings
pypdf 
python-dotenv
python-telegram-bot

#langchain-core
#langchain-openai